<!DOCTYPE html>
<html>
<head>
	<title>Embed</title>
</head>
<body>
	<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">T 3167 - Greetings on the occasion of VESAK .. or WESAK ..<br>Vesak one of the most important Buddhist festivals. Also known as  Buddha Day.<br><br> a celebration of Buddha&#39;s birthday and marks his enlightenment (when he discovered life&#39;s meaning). <a href="https://t.co/WUdGty1okL">pic.twitter.com/WUdGty1okL</a></p>&mdash; Amitabh Bachchan (@SrBachchan) <a href="https://twitter.com/SrBachchan/status/1129593558367793152?ref_src=twsrc%5Etfw">May 18, 2019</a></blockquote>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">T 3166 - Time warp .. then and now !! <br>Then DOP asst., on film &#39;Main Azaad Hoon&#39; shoot of song &#39;itne baazu..&#39; in Goa .. <br>Now DOP asst ., on film &#39;Chehre&#39; shoot ..<br>SAME GUYS .. HE AND ME ..!<br>some hair has been lost .. some grown .. <a href="https://t.co/HG3wNraBw0">pic.twitter.com/HG3wNraBw0</a></p>&mdash; Amitabh Bachchan (@SrBachchan) <a href="https://twitter.com/SrBachchan/status/1129224547226382336?ref_src=twsrc%5Etfw">May 17, 2019</a></blockquote>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">T 3168 - 9 years of Twitter .. err .. ON twitter .. !!🙏🙏🙏 <a href="https://t.co/ZRSdkZQ6Vc">pic.twitter.com/ZRSdkZQ6Vc</a></p>&mdash; Amitabh Bachchan (@SrBachchan) <a href="https://twitter.com/SrBachchan/status/1129950733724454918?ref_src=twsrc%5Etfw">May 19, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


</body>
</html>



<script type="text/javascript">
    function view_replies(element) {
      button="button_"+element
      elem=document.getElementById(button)
      if (elem.innerHTML=='View Comments') {
        replies="replies_"+element
        document.getElementById(replies).removeAttribute("hidden");
        elem_span=document.getElementById('span_'+element)
        elem_span.style="cursor:n-resize"
        elem.innerHTML="Hide Comment"
      }
      else{
        replies="replies_"+element
        console.log(replies)
        elem_replies=document.getElementById(replies)
        console.log(elem_replies)
        hid_att=document.createAttribute("hidden");
        elem_replies.setAttributeNode(hid_att)
        elem.innerHTML="View Comment"
        elem_span=document.getElementById('span_'+element)
        elem_span.style="cursor:s-resize"
        
      }
    }
  </script>


